Flask==3.0.3
psycopg==3.2.1
opentelemetry-api==1.28.0
opentelemetry-exporter-otlp==1.28.0
opentelemetry-distro==0.49b0
opentelemetry-instrumentation==0.49b0
opentelemetry-sdk==1.28.0
opentelemetry-semantic-conventions==0.49b0
